In [ ]:
%pip install langchain_community
%pip install langchain mysql-connector-python 
%pip install langchain_openai
%pip install openai

In [5]:
from langchain_community.utilities import SQLDatabase
 
# if you are using MySQL
mysql_uri = 'mysql+mysqlconnector://mis481:mis481@localhost:3306/Chinook'

db = SQLDatabase.from_uri(mysql_uri)

In [6]:
def get_schema(_):
    schema = db.get_table_info()
    return schema

In [7]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Content: {question}
SQL Query:"""

prompt = ChatPromptTemplate.from_template(template)

In [8]:
print(prompt)

input_variables=['question', 'schema'] input_types={} partial_variables={} messages=[HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['question', 'schema'], input_types={}, partial_variables={}, template="Based on the table schema below, write a SQL query that would answer the user's question:\n{schema}\n\nContent: {question}\nSQL Query:"), additional_kwargs={})]

In [9]:
import os

from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

import dotenv

dotenv.load_dotenv(dotenv_path="/workspaces/plain-php-codespace/.env", override=True)

if not os.getenv("GITHUB_TOKEN"):
    raise ValueError("GITHUB_TOKEN is not set")

os.environ["OPENAI_API_KEY"] = os.getenv("GITHUB_TOKEN")
os.environ["OPENAI_BASE_URL"] = "https://models.inference.ai.azure.com/"
# print(os.environ["OPENAI_API_KEY"])

endpoint = "https://models.inference.ai.azure.com"
GPT_MODEL = "gpt-4o"

llm = ChatOpenAI(model=GPT_MODEL)

def query_gen(result):

    substring1 = "```sql"
    substring2 = '```'
  
    position1 = result.find(substring1)
    position1=position1+6
    position2 = result.rfind(substring2)
    position2=position2-2
    sql_query = result[position1:position2]

    if sql_query:
        # print(sql_query)
        pass
    else:
        print("No SQL query found.")
    return sql_query

s=  get_schema(db)


sql_chain = (
    RunnablePassthrough.assign(schema= get_schema)
    | prompt
    | llm
    | StrOutputParser()
    | query_gen
)
# user_question = 'how many albums are there in the database?'
user_question = 'the most popular artist in the database based upon total sales?'
# user_question = 'who are the top three most popular artists?'
result=sql_chain.invoke({"question": user_question})
print(result)

SELECT
    ar.Name AS ArtistName,
    SUM(il.UnitPrice * il.Quantity) AS TotalSales
FROM
    InvoiceLine il
JOIN
    Track t ON il.TrackId = t.TrackId
JOIN
    Album al ON t.AlbumId = al.AlbumId
JOIN
    Artist ar ON al.ArtistId = ar.ArtistId
GROUP BY
    ar.ArtistId
ORDER BY
    TotalSales DESC
LIMIT 1

In [10]:
print(s)

CREATE TABLE `Album` (
	`AlbumId` INTEGER(11) NOT NULL,
	`Title` VARCHAR(160) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`ArtistId` INTEGER(11) NOT NULL,
	PRIMARY KEY (`AlbumId`),
	CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY(`ArtistId`) REFERENCES `Artist` (`ArtistId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE `Artist` (
	`ArtistId` INTEGER(11) NOT NULL,
	`Name` VARCHAR(120) CHARACTER SET utf8 COLLATE utf8_general_ci,
	PRIMARY KEY (`ArtistId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE `Customer` (
	`CustomerId` INTEGER(11) NOT NULL,
	`FirstName` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`LastName` VARCHAR(20) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`Company` VARCHAR(80) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Address` VARCHAR(70) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`City` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`State` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Country` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`PostalCode` VARCHAR(10) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Phone` VARCHAR(24) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Fax` VARCHAR(24) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Email` VARCHAR(60) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`SupportRepId` INTEGER(11),
	PRIMARY KEY (`CustomerId`),
	CONSTRAINT `FK_CustomerSupportRepId` FOREIGN KEY(`SupportRepId`) REFERENCES `Employee` (`EmployeeId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE `Employee` (
	`EmployeeId` INTEGER(11) NOT NULL,
	`LastName` VARCHAR(20) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`FirstName` VARCHAR(20) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`Title` VARCHAR(30) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`ReportsTo` INTEGER(11),
	`BirthDate` DATETIME,
	`HireDate` DATETIME,
	`Address` VARCHAR(70) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`City` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`State` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Country` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`PostalCode` VARCHAR(10) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Phone` VARCHAR(24) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Fax` VARCHAR(24) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Email` VARCHAR(60) CHARACTER SET utf8 COLLATE utf8_general_ci,
	PRIMARY KEY (`EmployeeId`),
	CONSTRAINT `FK_EmployeeReportsTo` FOREIGN KEY(`ReportsTo`) REFERENCES `Employee` (`EmployeeId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE `Genre` (
	`GenreId` INTEGER(11) NOT NULL,
	`Name` VARCHAR(120) CHARACTER SET utf8 COLLATE utf8_general_ci,
	PRIMARY KEY (`GenreId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE `InvoiceLine` (
	`InvoiceLineId` INTEGER(11) NOT NULL,
	`InvoiceId` INTEGER(11) NOT NULL,
	`TrackId` INTEGER(11) NOT NULL,
	`UnitPrice` DECIMAL(10, 2) NOT NULL,
	`Quantity` INTEGER(11) NOT NULL,
	PRIMARY KEY (`InvoiceLineId`),
	CONSTRAINT `FK_InvoiceLineInvoiceId` FOREIGN KEY(`InvoiceId`) REFERENCES `Invoice` (`InvoiceId`),
	CONSTRAINT `FK_InvoiceLineTrackId` FOREIGN KEY(`TrackId`) REFERENCES `Track` (`TrackId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE `Invoice` (
	`InvoiceId` INTEGER(11) NOT NULL,
	`CustomerId` INTEGER(11) NOT NULL,
	`InvoiceDate` DATETIME NOT NULL,
	`BillingAddress` VARCHAR(70) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`BillingCity` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`BillingState` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`BillingCountry` VARCHAR(40) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`BillingPostalCode` VARCHAR(10) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Total` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`InvoiceId`),
	CONSTRAINT `FK_InvoiceCustomerId` FOREIGN KEY(`CustomerId`) REFERENCES `Customer` (`CustomerId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE `MediaType` (
	`MediaTypeId` INTEGER(11) NOT NULL,
	`Name` VARCHAR(120) CHARACTER SET utf8 COLLATE utf8_general_ci,
	PRIMARY KEY (`MediaTypeId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE `PlaylistTrack` (
	`PlaylistId` INTEGER(11) NOT NULL,
	`TrackId` INTEGER(11) NOT NULL,
	PRIMARY KEY (`PlaylistId`, `TrackId`),
	CONSTRAINT `FK_PlaylistTrackPlaylistId` FOREIGN KEY(`PlaylistId`) REFERENCES `Playlist` (`PlaylistId`),
	CONSTRAINT `FK_PlaylistTrackTrackId` FOREIGN KEY(`TrackId`) REFERENCES `Track` (`TrackId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	1
1	2
1	3
*/


CREATE TABLE `Playlist` (
	`PlaylistId` INTEGER(11) NOT NULL,
	`Name` VARCHAR(120) CHARACTER SET utf8 COLLATE utf8_general_ci,
	PRIMARY KEY (`PlaylistId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE `Track` (
	`TrackId` INTEGER(11) NOT NULL,
	`Name` VARCHAR(200) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
	`AlbumId` INTEGER(11),
	`MediaTypeId` INTEGER(11) NOT NULL,
	`GenreId` INTEGER(11),
	`Composer` VARCHAR(220) CHARACTER SET utf8 COLLATE utf8_general_ci,
	`Milliseconds` INTEGER(11) NOT NULL,
	`Bytes` INTEGER(11),
	`UnitPrice` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`TrackId`),
	CONSTRAINT `FK_TrackAlbumId` FOREIGN KEY(`AlbumId`) REFERENCES `Album` (`AlbumId`),
	CONSTRAINT `FK_TrackGenreId` FOREIGN KEY(`GenreId`) REFERENCES `Genre` (`GenreId`),
	CONSTRAINT `FK_TrackMediaTypeId` FOREIGN KEY(`MediaTypeId`) REFERENCES `MediaType` (`MediaTypeId`)
)COLLATE utf8mb4_general_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

In [11]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)
print(prompt_response)

input_variables=['query', 'question', 'response', 'schema'] input_types={} partial_variables={} messages=[HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['query', 'question', 'response', 'schema'], input_types={}, partial_variables={}, template='Based on the table schema below, question, sql query, and sql response, write a natural language response:\n{schema}\n\nQuestion: {question}\nSQL Query: {query}\nSQL Response: {response}'), additional_kwargs={})]

In [12]:
def run_query(_):
    return db.run(result)

sql_result = run_query(_)
print(sql_result)

[('Iron Maiden', Decimal('138.60'))]

In [13]:
def get_question(_):
    return user_question

def get_query(_):
    return result

full_chain = (
    RunnablePassthrough.assign(
        # schema=get_schema,
        response=run_query,
        # question=get_question,
        query=get_query
    )
    | prompt_response
    | llm
    |StrOutputParser()
)

In [14]:


user_question = 'the most popular artist in the database based upon total sales?'

full_chain.invoke({"question": user_question, "schema": s})

'The most popular artist in the database based on total sales is Iron Maiden, with total sales amounting to $138.60.'